<!-- Dialog -->
<div id="dialog-{{index .Map "uuid"}}" title="{{index .Map "name"}}">
{{index .Map "value"}}

<p class="pull-right">
    <button type="button" class="btn btn-primary btn-lg" id="dialog-submit-{{index .Map "uuid"}}"><i class="icon-checkmark position-left"></i> Submit</button>
    <button type="button" class="btn btn-lg" id="dialog-cancel-{{index .Map "uuid"}}"><i class="icon-cross2 position-left"></i> Cancel</button>
    <script>

        function CollectDataSubmit_{{index .Map "uuid"}}() {
            var data = {};

            $('#dialog-{{index .Map "uuid"}}').find('input, select, textarea').each(
                function(index) {
                    var input = $(this);
                    if (input.attr('name') != undefined) {
                        data[input.attr('name')] = input.val();
                    }
                }
            );

            return JSON.stringify(data);
        }

        $(function() {
            // Enable our buttons to do their thing
            $('#dialog-submit-{{index .Map "uuid"}}').click(function() {
                /*
                    var data = {};

                    $('#dialog-{{index .Map "uuid"}}').find('input, select, textarea').each(
                        function(index) {
                            var input = $(this);
                            if (input.attr('name') != undefined) {
                                data[input.attr('name')] = input.val();
                            }
                        }
                    );

                    RPC('{{index .Map "submit_rpc_url"}}', {'data': JSON.stringify(data)})
                    */
                RPC('{{index .Map "submit_rpc_url"}}', {'data': CollectDataSubmit_{{index .Map "uuid"}}()})

                $(this).closest('.ui-dialog-content').dialog('close');

            });

            // Enable our buttons to do their thing
            $('#dialog-cancel-{{index .Map "uuid"}}').click(function() {
                $(this).closest('.ui-dialog-content').dialog('close');
            });

        });
    </script>
</p>
</div>
<!-- /Dialog -->

<script>
    $(function() {
        // Instantiate the Dialog Object
        $('#dialog-{{index .Map "uuid"}}').dialog({
            autoOpen: true,
            modal: true,
            width: {{index .Map "size"}},
            draggable: true,
            resizable: true,
            create: function(event, ui) {
            },
            open: function(event, ui) {
                // Dynamically adjust the height of the dialog box after it has rendered
                
                var header_height = 50; // fixed height of dialog header
                var box_height = $('#dialog-{{index .Map "uuid"}}').outerHeight() + header_height;
                var window_height = $(window).height();


                $('#dialog-{{index .Map "uuid"}}').dialog({
                    height: Math.min(box_height, window_height * 0.9)
                });

            }
        });

    });
</script>
