<h4 class="text-center content-group">
    OpsDB Site Directory
    <small class="display-block">Site Map</small>
</h4>

<div class="col-md-12">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <!--<h5 class="panel-title">Site Map</h5>-->
            <div class="heading-elements">
                <ul class="icons-list">
                </ul>
            </div>
        </div>

        <div class="panel-body">
            {{index .Map "menu"}}
        </div>
    </div>
</div>