
<!-- Text inputs -->
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title">Text inputs</h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <div class="form-group form-group-material">
            <label class="control-label">Text input</label>
            <input type="text" class="form-control" value="Value" placeholder="Text input">
        </div>

        <div class="form-group form-group-material">
            <label class="control-label">Password input</label>
            <input type="password" class="form-control" value="Value" placeholder="Password input">
        </div>

        <div class="form-group form-group-material">
            <label class="control-label">Input with helper</label>
            <input type="text" class="form-control" value="Value" placeholder="Input with helper">
            <span class="help-block">Input helper text block</span>
        </div>

        <div class="form-group form-group-material has-success has-feedback">
            <label class="control-label">Contextual input</label>
            <input type="text" class="form-control" value="Value" placeholder="Success with icon">
            <div class="form-control-feedback">
                <i class="icon-checkmark3"></i>
            </div>
            <span class="help-block">Contextual input helper</span>
        </div>

        <div class="form-group form-group-material">
            <label class="control-label">Disabled input field</label>
            <input type="text" class="form-control" disabled="disabled" value="Value" placeholder="Disabled input field">
        </div>

        <div class="form-group form-group-material">
            <label class="control-label">Textarea</label>
            <textarea rows="5" cols="5" class="form-control" placeholder="Textarea">Text</textarea>
        </div>
    </div>
</div>
<!-- /text inputs -->
