<!-- Item Control -->
<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title"><i class="icon-cog3 position-left"></i> {{index .Map "title"}}</h6>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <form action="#">
            <div class="form-group">
                <div class="checkbox checkbox-switchery checkbox-right switchery-xs">
                    <label class="display-block">
                        <input type="checkbox" class="switchery" checked="checked">
                        An optional option
                    </label>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <p><button class="btn btn-primary btn-sm btn-block" type="button">Delete</button></p>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /Item Control -->
