<label class="control-label">{{index .Map "label"}}</label>
<div class="input-group">
    <!--<span class="input-group-addon"><i class="{{index .Map "icon"}}"></i></span>-->
    <input type="text" name="{{index .Map "name"}}" value="{{index .Map "value"}}" class="touchspin-12345 form-control" placeholder="{{index .Map "placeholder"}}">
</div>
<span class="help-block">{{index .Map "info"}}</span>
<script>
    $(".touchspin-12345").TouchSpin({
        postfix: '<i class="{{index .Map "icon"}}"></i>'
    });
</script>
