
<h6 class="text-semibold">Uploaded files</h6>
<p>A much goodness between destructive that save stupid firefly destructively dog goldfinch continually alas pinched for outside flailed inescapably hey brought rid crud and awakened sobbed extraordinarily wherever deer before tenable yet into dalmatian opposite save close ahead next independent mindful but far.</p>

<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <div class="thumb">
                <img src="assets/images/placeholder.jpg" alt="">
                <div class="caption-overflow">
													<span>
														<a href="#" class="btn bg-success-300 btn-xs btn-icon"><i class="icon-zoomin3"></i></a>
														<a href="#" class="btn bg-success-300 btn-xs btn-icon"><i class="icon-download"></i></a>
													</span>
                </div>
            </div>

            <div class="caption text-center">
                dashboard_draft.png
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <div class="thumb">
                <img src="assets/images/placeholder.jpg" alt="">
                <div class="caption-overflow">
													<span>
														<a href="#" class="btn bg-success-300 btn-xs btn-icon"><i class="icon-zoomin3"></i></a>
														<a href="#" class="btn bg-success-300 btn-xs btn-icon"><i class="icon-download"></i></a>
													</span>
                </div>
            </div>

            <div class="caption text-center">
                profile_page.png
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <div class="thumb">
                <img src="assets/images/placeholder.jpg" alt="">
                <div class="caption-overflow">
													<span>
														<a href="#" class="btn bg-success-300 btn-xs btn-icon"><i class="icon-zoomin3"></i></a>
														<a href="#" class="btn bg-success-300 btn-xs btn-icon"><i class="icon-download"></i></a>
													</span>
                </div>
            </div>

            <div class="caption text-center">
                shopping_cart.png
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <div class="thumb">
                <img src="assets/images/placeholder.jpg" alt="">
                <div class="caption-overflow">
													<span>
														<a href="#" class="btn bg-success-300 btn-xs btn-icon"><i class="icon-zoomin3"></i></a>
														<a href="#" class="btn bg-success-300 btn-xs btn-icon"><i class="icon-download"></i></a>
													</span>
                </div>
            </div>

            <div class="caption text-center">
                sales_statistics.png
            </div>
        </div>
    </div>
</div>