<!-- Panel -->
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title"><i class="{{index .Map "icon"}} position-left"></i> {{index .Map "name"}}</h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <!--<li><a data-action="close"></a></li>-->
            </ul>
        </div>
    </div>

    <div class="panel-body">
        {{index .Map "value"}}
    </div>
</div>
<!-- /Panel -->
