<li class="media">
      <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></div>
        <div class="media-body">
                 <a href="#" class="media-heading">
                            <span class="text-semibold">{{index .Map "name"}}</span>
                                   <span class="media-annotation pull-right">Mon</span>
                                        </a>
                                            <span class="text-muted">Other travelling salesmen live a life of luxury...</span>
                                              </div>
</li>

