
			<!-- Secondary sidebar -->
			<div class="sidebar sidebar-secondary sidebar-default">
				<div class="sidebar-content">

					<!-- Title -->
					<div class="category-title h6">
						<span>Alternative options</span>
						<ul class="icons-list">
							<li><a href="#"><i class="icon-gear"></i></a></li>
						</ul>
					</div>
					<!-- /title -->


					<!-- Search messages -->
					<div class="sidebar-category">
						<div class="category-title">
							<span>Search messages</span>
							<ul class="icons-list">
								<li><a href="#" data-action="collapse"></a></li>
							</ul>
						</div>

						<div class="category-content">
							<form action="#">
								<div class="has-feedback has-feedback-left">
									<input type="search" class="form-control" placeholder="Type and hit Enter">
									<div class="form-control-feedback">
										<i class="icon-search4 text-size-base text-muted"></i>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- /search messages -->


					<!-- Actions -->
					<div class="sidebar-category">
						<div class="category-title">
							<span>Actions</span>
							<ul class="icons-list">
								<li><a href="#" data-action="collapse"></a></li>
							</ul>
						</div>

						<div class="category-content">
							<a href="#" class="btn bg-pink-400 btn-rounded btn-block btn-xs">New message</a>
							<a href="#" class="btn bg-teal-400 btn-rounded btn-block btn-xs">New conference</a>
						</div>
					</div>
					<!-- /actions -->


					<!-- Sub navigation -->
					<div class="sidebar-category">
						<div class="category-title">
							<span>Navigation</span>
							<ul class="icons-list">
								<li><a href="#" data-action="collapse"></a></li>
							</ul>
						</div>

						<div class="category-content no-padding">
							<ul class="navigation navigation-alt navigation-accordion">
								<li class="navigation-header">Actions</li>
								<li><a href="#"><i class="icon-compose"></i> Compose message</a></li>
								<li><a href="#"><i class="icon-collaboration"></i> Conference</a></li>
								<li><a href="#"><i class="icon-user-plus"></i> Add users <span class="label label-success">32 online</span></a></li>
								<li><a href="#"><i class="icon-users"></i> Create team</a></li>
								<li class="navigation-divider"></li>
								<li><a href="#"><i class="icon-files-empty"></i> All messages <span class="badge badge-danger">99+</span></a></li>
								<li><a href="#"><i class="icon-file-plus"></i> Active discussions <span class="badge badge-default">32</span></a></li>
								<li><a href="#"><i class="icon-file-locked"></i> Closed discussions</a></li>
								<li class="navigation-header">Options</li>
								<li><a href="#"><i class="icon-reading"></i> Message history</a></li>
								<li><a href="#"><i class="icon-cog3"></i> Settings</a></li>
							</ul>
						</div>
					</div>
					<!-- /sub navigation -->


					<!-- Latest updates -->
					<div class="sidebar-category">
						<div class="category-title">
							<span>Latest updates</span>
							<ul class="icons-list">
								<li><a href="#" data-action="collapse"></a></li>
							</ul>
						</div>

						<div class="category-content">
							<ul class="media-list">
								<li class="media">
									<div class="media-left"><a href="#" class="btn border-success text-success btn-flat btn-icon btn-sm btn-rounded"><i class="icon-checkmark3"></i></a></div>
									<div class="media-body">
										<a href="#">Richard Vango</a> has been registered
										<div class="media-annotation">4 minutes ago</div>
									</div>
								</li>

								<li class="media">
									<div class="media-left"><a href="#" class="btn border-slate text-slate btn-flat btn-icon btn-sm btn-rounded"><i class="icon-infinite"></i></a></div>
									<div class="media-body">
										Server went offline for monthly maintenance
										<div class="media-annotation">36 minutes ago</div>
									</div>
								</li>

								<li class="media">
									<div class="media-left"><a href="#" class="btn border-success text-success btn-flat btn-icon btn-sm btn-rounded"><i class="icon-checkmark3"></i></a></div>
									<div class="media-body">
										<a href="#">Chris Arney</a> has been registered
										<div class="media-annotation">2 hours ago</div>
									</div>
								</li>

								<li class="media">
									<div class="media-left"><a href="#" class="btn border-danger text-danger btn-flat btn-icon btn-sm btn-rounded"><i class="icon-cross2"></i></a></div>
									<div class="media-body">
										<a href="#">Chris Arney</a> left main conversation
										<div class="media-annotation">Dec 18, 18:36</div>
									</div>
								</li>

								<li class="media">
									<div class="media-left"><a href="#" class="btn border-primary text-primary btn-flat btn-icon btn-sm btn-rounded"><i class="icon-plus3"></i></a></div>
									<div class="media-body">
										<a href="#">Beatrix Diaz</a> just joined conversation
										<div class="media-annotation">Dec 12, 05:46</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- /latest updates -->


					<!-- Online users -->
					<div class="sidebar-category">
						<div class="category-title">
							<span>Online users</span>
							<ul class="icons-list">
								<li><a href="#" data-action="collapse"></a></li>
							</ul>
						</div>

						<div class="category-content no-padding">
							<ul class="media-list media-list-linked">
								<li class="media">
									<a href="#" class="media-link">
										<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
										<div class="media-body">
											<span class="media-heading text-semibold">James Alexander</span>
											<span class="text-size-small text-muted display-block">UI/UX expert</span>
										</div>
										<div class="media-right media-middle">
											<span class="status-mark bg-success"></span>
										</div>
									</a>
								</li>

								<li class="media">
									<a href="#" class="media-link">
										<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
										<div class="media-body">
											<span class="media-heading text-semibold">Jeremy Victorino</span>
											<span class="text-size-small text-muted display-block">Senior designer</span>
										</div>
										<div class="media-right media-middle">
											<span class="status-mark bg-danger"></span>
										</div>
									</a>
								</li>

								<li class="media">
									<a href="#" class="media-link">
										<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
										<div class="media-body">
											<div class="media-heading"><span class="text-semibold">Jordana Mills</span></div>
											<span class="text-muted">Sales consultant</span>
										</div>
										<div class="media-right media-middle">
											<span class="status-mark bg-grey-300"></span>
										</div>
									</a>
								</li>

								<li class="media">
									<a href="#" class="media-link">
										<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
										<div class="media-body">
											<div class="media-heading"><span class="text-semibold">William Miles</span></div>
											<span class="text-muted">SEO expert</span>
										</div>
										<div class="media-right media-middle">
											<span class="status-mark bg-success"></span>
										</div>
									</a>
								</li>

								<li class="media">
									<a href="#" class="media-link">
										<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
										<div class="media-body">
											<span class="media-heading text-semibold">Margo Baker</span>
											<span class="text-size-small text-muted display-block">Google</span>
										</div>
										<div class="media-right media-middle">
											<span class="status-mark bg-success"></span>
										</div>
									</a>
								</li>

								<li class="media">
									<a href="#" class="media-link">
										<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
										<div class="media-body">
											<span class="media-heading text-semibold">Beatrix Diaz</span>
											<span class="text-size-small text-muted display-block">Facebook</span>
										</div>
										<div class="media-right media-middle">
											<span class="status-mark bg-warning-400"></span>
										</div>
									</a>
								</li>

								<li class="media">
									<a href="#" class="media-link">
										<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
										<div class="media-body">
											<span class="media-heading text-semibold">Richard Vango</span>
											<span class="text-size-small text-muted display-block">Microsoft</span>
										</div>
										<div class="media-right media-middle">
											<span class="status-mark bg-grey-300"></span>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- /online users -->


					<!-- Latest messages -->
					<div class="sidebar-category">
						<div class="category-title">
							<span>Latest messages</span>
							<ul class="icons-list">
								<li><a href="#" data-action="collapse"></a></li>
							</ul>
						</div>

						<div class="category-content no-padding">
							<ul class="media-list media-list-linked">
								<li class="media">
									<a href="#" class="media-link">
										<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
										<div class="media-body">
											<span class="media-heading text-semibold">Will Samuel</span>
											<span class="text-muted">And he looked over at the alarm clock, ticking..</span>
										</div>
									</a>
								</li>

								<li class="media">
									<a href="#" class="media-link">
										<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
										<div class="media-body">
											<span class="media-heading text-semibold">Margo Baker</span>
											<span class="text-muted">However hard he threw himself onto..</span>
										</div>
									</a>
								</li>

								<li class="media">
									<a href="#" class="media-link">
										<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
										<div class="media-body">
											<span class="media-heading text-semibold">Monica Smith</span>
											<span class="text-muted">Yes, but was it spanossible to quietly sleep through..</span>
										</div>
									</a>
								</li>

								<li class="media">
									<a href="#" class="media-link">
										<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
										<div class="media-body">
											<span class="media-heading text-semibold">Jordana Mills</span>
											<span class="text-muted">What should he do now? The next train went at..</span>
										</div>
									</a>
								</li>

								<li class="media">
									<a href="#" class="media-link">
										<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
										<div class="media-body">
											<span class="media-heading text-semibold">John Craving</span>
											<span class="text-muted">Gregor then turned to look out the window..</span>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- /latest messages -->

				</div>
			</div>
			<!-- /secondary sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Basic layout -->
				<div class="panel panel-flat">
					<div class="panel-heading">
						<h6 class="panel-title">Default layout</h6>
						<div class="heading-elements">
							<ul class="icons-list">
		                		<li><a data-action="collapse"></a></li>
		                		<li><a data-action="reload"></a></li>
		                		<li><a data-action="close"></a></li>
		                	</ul>
	                	</div>
					</div>

					<div class="panel-body">
						<ul class="media-list chat-list content-group">
							<li class="media date-step">
								<span>Monday, Feb 10</span>
							</li>

							<li class="media">
								<div class="media-left">
									<a href="assets/images/placeholder.jpg">
										<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
									</a>
								</div>

								<div class="media-body">
									<div class="media-content">Below mounted advantageous spread yikes bat stubbornly crud a and a excepting</div>
									<span class="media-annotation display-block mt-10">Mon, 9:54 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
								</div>
							</li>

							<li class="media reversed">
								<div class="media-body">
									<div class="media-content">Far squid and that hello fidgeted and when. As this oh darn but slapped casually husky sheared that cardinal hugely one and some unnecessary factiously hedgehog a feeling one rudely much but one owing sympathetic regardless more astonishing evasive tasteful much.</div>
									<span class="media-annotation display-block mt-10">Mon, 10:24 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
								</div>

								<div class="media-right">
									<a href="assets/images/placeholder.jpg">
										<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
									</a>
								</div>
							</li>

							<li class="media">
								<div class="media-left">
									<a href="assets/images/placeholder.jpg">
										<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
									</a>
								</div>

								<div class="media-body">
									<div class="media-content">Darn over sour then cynically less roadrunner up some cast buoyant. Macaw krill when and upon less contrary warthog jeez some koala less since therefore minimal.</div>
									<span class="media-annotation display-block mt-10">Mon, 10:56 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
								</div>
							</li>

							<li class="media reversed">
								<div class="media-body">
									<div class="media-content">Some upset impious a and submissive when far crane the belched coquettishly. More the puerile dove wherever</div>
									<span class="media-annotation display-block mt-10">Mon, 11:29 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
								</div>

								<div class="media-right">
									<a href="assets/images/placeholder.jpg">
										<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
									</a>
								</div>
							</li>

							<li class="media date-step">
								<span>Yesterday</span>
							</li>

							<li class="media">
								<div class="media-left">
									<a href="assets/images/placeholder.jpg">
										<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
									</a>
								</div>

								<div class="media-body">
									<div class="media-content">Regardless equitably hello heron glum cassowary jocosely before reliably a jeepers wholehearted shuddered more that some where far by koala.</div>
									<span class="media-annotation display-block mt-10">Tue, 6:40 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
								</div>
							</li>

							<li class="media">
								<div class="media-left">
									<a href="assets/images/placeholder.jpg">
										<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
									</a>
								</div>

								<div class="media-body">
									<div class="media-content">Crud reran and while much withdrew ardent much crab hugely met dizzily that more jeez gent equivalent unsafely far one hesitant so therefore.</div>
									<span class="media-annotation display-block mt-10">Tue, 10:28 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
								</div>
							</li>

							<li class="media reversed">
								<div class="media-body">
									<div class="media-content">Thus superb the tapir the wallaby blank frog execrably much since dalmatian by in hot. Uninspiringly arose mounted stared one curt safe</div>
									<span class="media-annotation display-block mt-10">Tue, 8:12 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
								</div>

								<div class="media-right">
									<a href="assets/images/placeholder.jpg">
										<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
									</a>
								</div>
							</li>

							<li class="media date-step">
								<span>Today</span>
							</li>

							<li class="media">
								<div class="media-left">
									<a href="assets/images/placeholder.jpg">
										<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
									</a>
								</div>

								<div class="media-body">
									<div class="media-content">Tolerantly some understood this stubbornly after snarlingly frog far added insect into snorted more auspiciously heedless drunkenly jeez foolhardy oh.</div>
									<span class="media-annotation display-block mt-10">Wed, 4:20 pm <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
								</div>
							</li>

							<li class="media reversed">
								<div class="media-body">
									<div class="media-content">Satisfactorily strenuously while sleazily dear frustratingly insect menially some shook far sardonic badger telepathic much jeepers immature much hey.</div>
									<span class="media-annotation display-block mt-10">2 hours ago <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
								</div>

								<div class="media-right">
									<a href="assets/images/placeholder.jpg">
										<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
									</a>
								</div>
							</li>

							<li class="media">
								<div class="media-left">
									<a href="assets/images/placeholder.jpg">
										<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
									</a>
								</div>

								<div class="media-body">
									<div class="media-content">Grunted smirked and grew less but rewound much despite and impressive via alongside out and gosh easy manatee dear ineffective yikes.</div>
									<span class="media-annotation display-block mt-10">13 minutes ago <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
								</div>
							</li>

							<li class="media reversed">
								<div class="media-body">
									<div class="media-content"><i class="icon-menu display-block"></i></div>
								</div>

								<div class="media-right">
									<a href="assets/images/placeholder.jpg">
										<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
									</a>
								</div>
							</li>
						</ul>

                    	<textarea name="enter-message" class="form-control content-group" rows="3" cols="1" placeholder="Enter your message..."></textarea>

                    	<div class="row">
                    		<div class="col-xs-6">
	                        	<ul class="icons-list icons-list-extended mt-10">
	                                <li><a href="#" data-popup="tooltip" title="Send photo" data-container="body"><i class="icon-file-picture"></i></a></li>
	                            	<li><a href="#" data-popup="tooltip" title="Send video" data-container="body"><i class="icon-file-video"></i></a></li>
	                                <li><a href="#" data-popup="tooltip" title="Send file" data-container="body"><i class="icon-file-plus"></i></a></li>
	                            </ul>
                    		</div>

                    		<div class="col-xs-6 text-right">
	                            <button type="button" class="btn bg-teal-400 btn-labeled btn-labeled-right"><b><i class="icon-circle-right2"></i></b> Send</button>
                    		</div>
                    	</div>
					</div>
				</div>
				<!-- /basic layout -->


				<!-- Inverse colors -->
				<div class="panel panel-flat">
					<div class="panel-heading">
						<h6 class="panel-title">Inverse colors</h6>
						<div class="heading-elements">
							<ul class="icons-list">
		                		<li><a data-action="collapse"></a></li>
		                		<li><a data-action="reload"></a></li>
		                		<li><a data-action="close"></a></li>
		                	</ul>
	                	</div>
					</div>

					<div class="panel-body">
						<ul class="media-list chat-list chat-list-inverse content-group">
							<li class="media date-step">
								<span>Monday, Feb 10</span>
							</li>

							<li class="media">
								<div class="media-left">
									<a href="assets/images/placeholder.jpg">
										<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
									</a>
								</div>

								<div class="media-body">
									<div class="media-content">Crud reran and while much withdrew ardent much crab hugely met dizzily that more jeez gent equivalent unsafely far one hesitant so therefore.</div>
									<span class="media-annotation display-block mt-10">Tue, 10:28 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
								</div>
							</li>

							<li class="media reversed">
								<div class="media-body">
									<div class="media-content">Thus superb the tapir the wallaby blank frog execrably much since dalmatian by in hot. Uninspiringly arose mounted stared one curt safe</div>
									<span class="media-annotation display-block mt-10">Tue, 8:12 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
								</div>

								<div class="media-right">
									<a href="assets/images/placeholder.jpg">
										<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
									</a>
								</div>
							</li>

							<li class="media date-step">
								<span>Today</span>
							</li>

							<li class="media reversed">
								<div class="media-body">
									<div class="media-content">Satisfactorily strenuously while sleazily dear frustratingly insect menially some shook far sardonic badger telepathic much jeepers immature much hey.</div>
									<span class="media-annotation display-block mt-10">2 hours ago <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
								</div>

								<div class="media-right">
									<a href="assets/images/placeholder.jpg">
										<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
									</a>
								</div>
							</li>

							<li class="media">
								<div class="media-left">
									<a href="assets/images/placeholder.jpg">
										<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
									</a>
								</div>

								<div class="media-body">
									<div class="media-content">Grunted smirked and grew less but rewound much despite and impressive via alongside out and gosh easy manatee dear ineffective yikes.</div>
									<span class="media-annotation display-block mt-10">13 minutes ago <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
								</div>
							</li>

							<li class="media reversed">
								<div class="media-body">
									<div class="media-content"><i class="icon-menu display-block"></i></div>
								</div>

								<div class="media-right">
									<a href="assets/images/placeholder.jpg">
										<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
									</a>
								</div>
							</li>
						</ul>

                    	<textarea name="enter-message" class="form-control content-group" rows="3" cols="1" placeholder="Enter your message..."></textarea>

                    	<div class="row">
                    		<div class="col-xs-6">
	                        	<ul class="icons-list icons-list-extended mt-10">
	                                <li><a href="#" data-popup="tooltip" title="Send photo" data-container="body"><i class="icon-file-picture"></i></a></li>
	                            	<li><a href="#" data-popup="tooltip" title="Send video" data-container="body"><i class="icon-file-video"></i></a></li>
	                                <li><a href="#" data-popup="tooltip" title="Send file" data-container="body"><i class="icon-file-plus"></i></a></li>
	                            </ul>
                    		</div>

                    		<div class="col-xs-6 text-right">
	                            <button type="button" class="btn bg-teal-400 btn-labeled btn-labeled-right"><b><i class="icon-circle-right2"></i></b> Send</button>
                    		</div>
                    	</div>
					</div>
				</div>
				<!-- /inverse colors -->


				<!-- Line content divider -->
				<div class="panel panel-flat">
					<div class="panel-heading">
						<h6 class="panel-title">Line content divider</h6>
						<div class="heading-elements">
							<ul class="icons-list">
		                		<li><a data-action="collapse"></a></li>
		                		<li><a data-action="reload"></a></li>
		                		<li><a data-action="close"></a></li>
		                	</ul>
	                	</div>
					</div>

					<div class="panel-body">
						<ul class="media-list chat-list content-group">
							<li class="media date-step content-divider">
								<span>Monday, Feb 10</span>
							</li>

							<li class="media">
								<div class="media-left">
									<a href="assets/images/placeholder.jpg">
										<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
									</a>
								</div>

								<div class="media-body">
									<div class="media-content">Crud reran and while much withdrew ardent much crab hugely met dizzily that more jeez gent equivalent unsafely far one hesitant so therefore.</div>
									<span class="media-annotation display-block mt-10">Tue, 10:28 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
								</div>
							</li>

							<li class="media reversed">
								<div class="media-body">
									<div class="media-content">Thus superb the tapir the wallaby blank frog execrably much since dalmatian by in hot. Uninspiringly arose mounted stared one curt safe</div>
									<span class="media-annotation display-block mt-10">Tue, 8:12 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
								</div>

								<div class="media-right">
									<a href="assets/images/placeholder.jpg">
										<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
									</a>
								</div>
							</li>

							<li class="media date-step content-divider">
								<span>Today</span>
							</li>

							<li class="media reversed">
								<div class="media-body">
									<div class="media-content">Satisfactorily strenuously while sleazily dear frustratingly insect menially some shook far sardonic badger telepathic much jeepers immature much hey.</div>
									<span class="media-annotation display-block mt-10">2 hours ago <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
								</div>

								<div class="media-right">
									<a href="assets/images/placeholder.jpg">
										<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
									</a>
								</div>
							</li>

							<li class="media">
								<div class="media-left">
									<a href="assets/images/placeholder.jpg">
										<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
									</a>
								</div>

								<div class="media-body">
									<div class="media-content">Grunted smirked and grew less but rewound much despite and impressive via alongside out and gosh easy manatee dear ineffective yikes.</div>
									<span class="media-annotation display-block mt-10">13 minutes ago <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
								</div>
							</li>

							<li class="media reversed">
								<div class="media-body">
									<div class="media-content"><i class="icon-menu display-block"></i></div>
								</div>

								<div class="media-right">
									<a href="assets/images/placeholder.jpg">
										<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
									</a>
								</div>
							</li>
						</ul>

                    	<textarea name="enter-message" class="form-control content-group" rows="3" cols="1" placeholder="Enter your message..."></textarea>

                    	<div class="row">
                    		<div class="col-xs-6">
	                        	<ul class="icons-list icons-list-extended mt-10">
	                                <li><a href="#" data-popup="tooltip" title="Send photo" data-container="body"><i class="icon-file-picture"></i></a></li>
	                            	<li><a href="#" data-popup="tooltip" title="Send video" data-container="body"><i class="icon-file-video"></i></a></li>
	                                <li><a href="#" data-popup="tooltip" title="Send file" data-container="body"><i class="icon-file-plus"></i></a></li>
	                            </ul>
                    		</div>

                    		<div class="col-xs-6 text-right">
	                            <button type="button" class="btn bg-teal-400 btn-labeled btn-labeled-right"><b><i class="icon-circle-right2"></i></b> Send</button>
                    		</div>
                    	</div>
					</div>
				</div>
				<!-- /line content divider -->


				<!-- Default stacked layout -->
				<div class="panel panel-flat">
					<div class="panel-heading">
						<h6 class="panel-title">Default stacked layout</h6>
						<div class="heading-elements">
							<ul class="icons-list">
		                		<li><a data-action="collapse"></a></li>
		                		<li><a data-action="reload"></a></li>
		                		<li><a data-action="close"></a></li>
		                	</ul>
	                	</div>
					</div>

					<div class="panel-body">
						<ul class="media-list chat-stacked content-group">
							<li class="media date-step text-muted">
								<span>Saturday, Feb 12</span>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body">
									<div class="media-heading">
										<a href="#" class="text-semibold">Margo Baker</a>
										<span class="media-annotation pull-right">12:16 pm <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
									</div>
									Goldfish indisputable vexed hello on held some gosh :-)
								</div>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body">
									<div class="media-heading">
										<a href="#" class="text-semibold">Will Grace</a>
										<span class="media-annotation pull-right">4:13 pm <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
									</div>
									Wickedly darn before or after impeccably jeepers ouch misunderstood yikes much hello talkatively ineffectively hiccupped beyond usefully the alas prior shrugged instantaneously heroically
								</div>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body">
									<div class="media-heading">
										<a href="#" class="text-semibold">Margo Baker</a>
										<span class="media-annotation pull-right">02:53 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
									</div>
									Less insincerely hello far ungraceful near poured warthog hurt apart ouch wow that banal far made grew collective coasted inside
								</div>
							</li>

							<li class="media date-step text-muted">
								<span>Yesterday</span>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body">
									<div class="media-heading">
										<a href="#" class="text-semibold">Will Grace</a>
										<span class="media-annotation pull-right">7:50 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
									</div>
									Less a hello hey less saw vexedly pleasantly this much flamingo alas returned frighteningly some beneath jeez oh that overpaid oh within forlorn suddenly
								</div>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body">
									<div class="media-heading">
										<a href="#" class="text-semibold">Margo Baker</a>
										<span class="media-annotation pull-right">2:03 pm <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
									</div>
									Heard where and affecting dear hyena excluding hey confused the one
								</div>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body">
									<div class="media-heading">
										<a href="#" class="text-semibold">Margo Baker</a>
										<span class="media-annotation pull-right">5:14 pm <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
									</div>
									Messily changed much yet much this forbidding that so hey
								</div>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body">
									<div class="media-heading">
										<a href="#" class="text-semibold">Will Grace</a>
										<span class="media-annotation pull-right">1:30 pm <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
									</div>
									And hello exotic staunch bee goodness expectant much combed fox placed far this at oh less opposite much factually
								</div>
							</li>

							<li class="media date-step text-muted">
								<span>Today</span>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body">
									<div class="media-heading">
										<a href="#" class="text-semibold">Will Grace</a>
										<span class="media-annotation pull-right">2:29 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
									</div>	
									Besides lax yikes and a much deservedly much that constructively flexibly darn a one and and whooped without the and darn contemplated jokingly some ordered oh domestic possessive far
								</div>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body">
									<div class="media-heading">
										<a href="#" class="text-semibold">Margo Baker</a>
										<span class="media-annotation pull-right">8:20 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
									</div>	
									So because one badger a over more impotent pending frustratingly gosh when
								</div>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body">
									<div class="media-heading">
										<a href="#" class="text-semibold">Will Grace</a>
										<span class="media-annotation pull-right">9:00 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
									</div>	
									Fantastic close echidna crud fatuously much extensively alas beat up far consoled manfully that far one owing one perversely jeepers some
								</div>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body media-middle">
									<i class="icon-menu"></i>
								</div>
							</li>
						</ul>

                    	<textarea name="enter-message" class="form-control content-group" rows="3" cols="1" placeholder="Enter your message..."></textarea>

                    	<div class="row">
                    		<div class="col-xs-6">
	                        	<ul class="icons-list icons-list-extended mt-10">
	                                <li><a href="#" data-popup="tooltip" title="Send photo" data-container="body"><i class="icon-file-picture"></i></a></li>
	                            	<li><a href="#" data-popup="tooltip" title="Send video" data-container="body"><i class="icon-file-video"></i></a></li>
	                                <li><a href="#" data-popup="tooltip" title="Send file" data-container="body"><i class="icon-file-plus"></i></a></li>
	                            </ul>
                    		</div>

                    		<div class="col-xs-6 text-right">
	                            <button type="button" class="btn bg-teal-400 btn-labeled btn-labeled-right"><b><i class="icon-circle-right2"></i></b> Send</button>
                    		</div>
                    	</div>
					</div>
				</div>
				<!-- /default stacked layout -->


				<!-- Left annotation position -->
				<div class="panel panel-flat">
					<div class="panel-heading">
						<h6 class="panel-title">Left annotation position</h6>
						<div class="heading-elements">
							<ul class="icons-list">
		                		<li><a data-action="collapse"></a></li>
		                		<li><a data-action="reload"></a></li>
		                		<li><a data-action="close"></a></li>
		                	</ul>
	                	</div>
					</div>

					<div class="panel-body">
						<ul class="media-list chat-stacked content-group">
							<li class="media date-step text-muted">
								<span>Saturday, Feb 12</span>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body">
									<div class="media-heading">
										<a href="#" class="text-semibold">Margo Baker</a>
										<span class="media-annotation dotted">2:03 pm</span>
									</div>
									Heard where and affecting dear hyena excluding hey confused the one
								</div>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body">
									<div class="media-heading">
										<a href="#" class="text-semibold">Margo Baker</a>
										<span class="media-annotation dotted">5:14 pm</span>
									</div>
									Messily changed much yet much this forbidding that so hey
								</div>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body">
									<div class="media-heading">
										<a href="#" class="text-semibold">Will Grace</a>
										<span class="media-annotation dotted">1:30 pm</span>
									</div>
									And hello exotic staunch bee goodness expectant much combed fox placed far this at oh less opposite much factually
								</div>
							</li>

							<li class="media date-step text-muted">
								<span>Today</span>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body">
									<div class="media-heading">
										<a href="#" class="text-semibold">Will Grace</a>
										<span class="media-annotation dotted">2:29 am</span>
									</div>	
									Besides lax yikes and a much deservedly much that constructively flexibly darn a one and and whooped without the and darn contemplated jokingly some ordered oh domestic possessive far
								</div>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body">
									<div class="media-heading">
										<a href="#" class="text-semibold">Margo Baker</a>
										<span class="media-annotation dotted">8:20 am</span>
									</div>	
									So because one badger a over more impotent pending frustratingly gosh when
								</div>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body">
									<div class="media-heading">
										<a href="#" class="text-semibold">Will Grace</a>
										<span class="media-annotation dotted">9:00 am</span>
									</div>	
									Fantastic close echidna crud fatuously much extensively alas beat up far consoled manfully that far one owing one perversely jeepers some
								</div>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body media-middle">
									<i class="icon-menu"></i>
								</div>
							</li>
						</ul>

                    	<textarea name="enter-message" class="form-control content-group" rows="3" cols="1" placeholder="Enter your message..."></textarea>

                    	<div class="row">
                    		<div class="col-xs-6">
	                        	<ul class="icons-list icons-list-extended mt-10">
	                                <li><a href="#" data-popup="tooltip" title="Send photo" data-container="body"><i class="icon-file-picture"></i></a></li>
	                            	<li><a href="#" data-popup="tooltip" title="Send video" data-container="body"><i class="icon-file-video"></i></a></li>
	                                <li><a href="#" data-popup="tooltip" title="Send file" data-container="body"><i class="icon-file-plus"></i></a></li>
	                            </ul>
                    		</div>

                    		<div class="col-xs-6 text-right">
	                            <button type="button" class="btn bg-teal-400 btn-labeled btn-labeled-right"><b><i class="icon-circle-right2"></i></b> Send</button>
                    		</div>
                    	</div>
					</div>
				</div>
				<!-- /left annotation position-->


				<!-- Line content divider -->
				<div class="panel panel-flat">
					<div class="panel-heading">
						<h6 class="panel-title">Line content divider</h6>
						<div class="heading-elements">
							<ul class="icons-list">
		                		<li><a data-action="collapse"></a></li>
		                		<li><a data-action="reload"></a></li>
		                		<li><a data-action="close"></a></li>
		                	</ul>
	                	</div>
					</div>

					<div class="panel-body">
						<ul class="media-list chat-stacked content-group">
							<li class="media date-step content-divider text-muted">
								<span>Saturday, Feb 12</span>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body">
									<div class="media-heading">
										<a href="#" class="text-semibold">Margo Baker</a>
										<span class="media-annotation pull-right">2:03 pm <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
									</div>
									Heard where and affecting dear hyena excluding hey confused the one
								</div>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body">
									<div class="media-heading">
										<a href="#" class="text-semibold">Margo Baker</a>
										<span class="media-annotation pull-right">5:14 pm <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
									</div>
									Messily changed much yet much this forbidding that so hey
								</div>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body">
									<div class="media-heading">
										<a href="#" class="text-semibold">Will Grace</a>
										<span class="media-annotation pull-right">1:30 pm <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
									</div>
									And hello exotic staunch bee goodness expectant much combed fox placed far this at oh less opposite much factually
								</div>
							</li>

							<li class="media date-step content-divider text-muted">
								<span>New messages</span>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body">
									<div class="media-heading">
										<a href="#" class="text-semibold">Will Grace</a>
										<span class="media-annotation pull-right">2:29 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
									</div>	
									Besides lax yikes and a much deservedly much that constructively flexibly darn a one and and whooped without the and darn contemplated jokingly some ordered oh domestic possessive far
								</div>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body">
									<div class="media-heading">
										<a href="#" class="text-semibold">Margo Baker</a>
										<span class="media-annotation pull-right">8:20 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
									</div>	
									So because one badger a over more impotent pending frustratingly gosh when
								</div>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body">
									<div class="media-heading">
										<a href="#" class="text-semibold">Will Grace</a>
										<span class="media-annotation pull-right">9:00 am <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
									</div>	
									Fantastic close echidna crud fatuously much extensively alas beat up far consoled manfully that far one owing one perversely jeepers some
								</div>
							</li>

							<li class="media">
								<div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
								<div class="media-body media-middle">
									<i class="icon-menu"></i>
								</div>
							</li>
						</ul>

                    	<textarea name="enter-message" class="form-control content-group" rows="3" cols="1" placeholder="Enter your message..."></textarea>

                    	<div class="row">
                    		<div class="col-xs-6">
	                        	<ul class="icons-list icons-list-extended mt-10">
	                                <li><a href="#" data-popup="tooltip" title="Send photo" data-container="body"><i class="icon-file-picture"></i></a></li>
	                            	<li><a href="#" data-popup="tooltip" title="Send video" data-container="body"><i class="icon-file-video"></i></a></li>
	                                <li><a href="#" data-popup="tooltip" title="Send file" data-container="body"><i class="icon-file-plus"></i></a></li>
	                            </ul>
                    		</div>

                    		<div class="col-xs-6 text-right">
	                            <button type="button" class="btn bg-teal-400 btn-labeled btn-labeled-right"><b><i class="icon-circle-right2"></i></b> Send</button>
                    		</div>
                    	</div>
					</div>
				</div>
				<!-- /line content divider -->

			</div>
			<!-- /main content -->
