
				<!-- Search field -->
				<div class="panel">
					<div class="panel-body">
						<h4 class="text-center content-group-lg">
							Knowledge and Support
							<small class="display-block">Documentation, issues, outages, run book plays and recipes</small>
						</h4>

						<form action="#" class="main-search">
							<div class="input-group content-group">
								<div class="has-feedback has-feedback-left">
									<input type="text" class="form-control input-xlg" value="">
									<div class="form-control-feedback">
										<i class="icon-search4 text-muted text-size-base"></i>
									</div>
								</div>

								<div class="input-group-btn">
									<button type="submit" class="btn btn-primary btn-xlg">Search</button>
								</div>
							</div>

							<div class="row search-option-buttons">
								<div class="col-sm-6">
									<ul class="list-inline list-inline-condensed no-margin-bottom">
										<li class="dropdown">
											<a href="#" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
												<i class="icon-stack2 position-left"></i> All categories <span class="caret"></span>
											</a>

											<ul class="dropdown-menu">
												<li><a href="#"><i class="icon-question7"></i> Getting started</a></li>
												<li><a href="#"><i class="icon-accessibility"></i> Registration</a></li>
												<li><a href="#"><i class="icon-reading"></i> General info</a></li>
												<li><a href="#"><i class="icon-gear"></i> Your settings</a></li>
												<li><a href="#"><i class="icon-graduation"></i> Copyrights</a></li>
												<li class="divider"></li>
												<li><a href="#"><i class="icon-mail-read"></i> Contacting authors</a></li>
											</ul>
										</li>
										<li><a href="#" class="btn btn-link"><i class="icon-reload-alt position-left"></i> Refine your search</a></li>
									</ul>
								</div>

								<div class="col-sm-6 text-right">
									<ul class="list-inline no-margin-bottom">
										<li><a href="#" class="btn btn-link"><i class="icon-make-group position-left"></i> Browse articles</a></li>
										<li><a href="#" class="btn btn-link"><i class="icon-menu7 position-left"></i> Advanced search</a></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- /search field -->


				<!-- Info blocks -->
				<div class="row">
					<div class="col-md-4">
						<div class="panel">
							<div class="panel-body text-center">
								<div class="icon-object border-success text-success"><i class="icon-book"></i></div>
								<h5 class="text-semibold">Knowledge Base</h5>
								<p class="content-group">Documentation for the products and operational services</p>
								<p><a href="#" class="btn bg-success-400">Browse articles</a></p>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="panel">
							<div class="panel-body text-center">
								<div class="icon-object border-warning text-warning"><i class="icon-lifebuoy"></i></div>
								<h5 class="text-semibold">Issue Tracking</h5>
								<p class="content-group">Open a new issue, search for existing issues or search for common solutions</p>
								<p><a href="#" class="btn bg-warning-400">Open a ticket</a></p>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="panel">
							<div class="panel-body text-center">
								<div class="icon-object border-blue text-blue"><i class="icon-reading"></i></div>
								<h5 class="text-semibold">Run Book and Recipes</h5>
								<p class="content-group">Find run book plays or configuration recipes for solving common problems</p>
								<p><a href="#" class="btn bg-blue">Browse</a></p>
							</div>
						</div>
					</div>
				</div>
				<!-- /info blocks -->


				<!-- Directory -->
				<h4 class="text-center content-group">
					Browse articles by category
					<small class="display-block">If you can't find what you are looking for, create it so others can fill it out</small>
				</h4>

				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-flat">
							<div class="panel-heading">
								<h6 class="panel-title">Browse articles</h6>
								<div class="heading-elements">
									<ul class="icons-list">
				                		<li><a data-action="collapse"></a></li>
				                		<li><a data-action="reload"></a></li>
				                		<li><a data-action="close"></a></li>
				                	</ul>
			                	</div>
							</div>

							<div class="panel-body">
								<div class="row">
									<div class="col-md-4">
										<div class="content-group">
											<h6 class="text-semibold heading-divided"><i class="icon-folder6 position-left"></i> Products <small class="position-right">(93)</small></h6>
											<div class="list-group no-border">
												<a href="#" class="list-group-item">
													<i class="icon-file-text2"></i> Website <span class="label label-primary">Popular</span>
												</a>

												<a href="#" class="list-group-item">
													<i class="icon-file-text2"></i> Database
												</a>

												<a href="#" class="list-group-item">
													<i class="icon-file-text2"></i> Storage Cache
												</a>

												<a href="#" class="list-group-item">
													<i class="icon-file-text2"></i> Network
												</a>

												<a href="#" class="list-group-item">
													<i class="icon-arrow-right22"></i> Show all articles (93)
												</a>
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="content-group">
											<h6 class="text-semibold heading-divided"><i class="icon-folder6 position-left"></i> Environment <small class="position-right">(56)</small></h6>
											<div class="list-group no-border">
												<a href="#" class="list-group-item">
													<i class="icon-file-text2"></i> Where we keep backups
												</a>

												<a href="#" class="list-group-item">
													<i class="icon-file-text2"></i> Internal DNS <span class="label label-success">Review</span>
												</a>

												<a href="#" class="list-group-item">
													<i class="icon-file-text2"></i> HTTP Configuration
												</a>

												<a href="#" class="list-group-item">
													<i class="icon-file-text2"></i> IPSec
												</a>

												<a href="#" class="list-group-item">
													<i class="icon-arrow-right22"></i> Show all articles (56)
												</a>
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="content-group">
											<h6 class="text-semibold heading-divided"><i class="icon-folder6 position-left"></i> Procedures <small class="position-right">(29)</small></h6>
											<div class="list-group no-border">
												<a href="#" class="list-group-item">
													<i class="icon-file-text2"></i> Restarting the DB <span class="label label-danger">Closed</span>
												</a>

												<a href="#" class="list-group-item">
													<i class="icon-file-text2"></i> Backing up the DB
												</a>

												<a href="#" class="list-group-item">
													<i class="icon-file-text2"></i> Restarting Redis <span class="label bg-indigo-300">Article</span>
												</a>

												<a href="#" class="list-group-item">
													<i class="icon-file-text2"></i> Initializing the Cloud
												</a>

												<a href="#" class="list-group-item">
													<i class="icon-arrow-right22"></i> Show all articles (29)
												</a>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<div class="content-group">
											<h6 class="text-semibold heading-divided"><i class="icon-folder6 position-left"></i> Alerting <small class="position-right">(58)</small></h6>
											<div class="list-group no-border">
												<a href="#" class="list-group-item">
													<i class="icon-file-text2"></i> Incongruously gorilla <span class="label bg-teal-300">New</span>
												</a>

												<a href="#" class="list-group-item">
													<i class="icon-file-text2"></i> Playful amongst hence
												</a>

												<a href="#" class="list-group-item">
													<i class="icon-file-text2"></i> Sobbingly altruistic nasty
												</a>

												<a href="#" class="list-group-item">
													<i class="icon-file-text2"></i> Hung insecure far ferret
												</a>

												<a href="#" class="list-group-item">
													<i class="icon-arrow-right22"></i> Show all articles (58)
												</a>
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="content-group">
											<h6 class="text-semibold heading-divided"><i class="icon-folder6 position-left"></i> Automation <small class="position-right">(92)</small></h6>
											<div class="list-group no-border">
												<a href="#" class="list-group-item">
													<i class="icon-file-text2"></i> Reined and this vigorous <span class="label label-primary">Popular</span>
												</a>

												<a href="#" class="list-group-item">
													<i class="icon-file-text2"></i> Oh positively well crab
												</a>

												<a href="#" class="list-group-item">
													<i class="icon-file-text2"></i> Recast then impalpable cried
												</a>

												<a href="#" class="list-group-item">
													<i class="icon-file-text2"></i> Eclectic mechanically as on <span class="label label-danger">Closed</span>
												</a>

												<a href="#" class="list-group-item">
													<i class="icon-arrow-right22"></i> Show all articles (92)
												</a>
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="content-group">
											<h6 class="text-semibold heading-divided"><i class="icon-folder6 position-left"></i> Play Book <small class="position-right">(15)</small></h6>
											<div class="list-group no-border">
												<a href="#" class="list-group-item">
													<i class="icon-file-text2"></i> And dear dealt bat far redid
												</a>

												<a href="#" class="list-group-item">
													<i class="icon-file-text2"></i> Trout some after effective <span class="label label-default">On hold</span>
												</a>

												<a href="#" class="list-group-item">
													<i class="icon-file-text2"></i> The one rhythmically whale
												</a>

												<a href="#" class="list-group-item">
													<i class="icon-file-text2"></i> Admirably spun a the belched <span class="label bg-indigo-300">Article</span>
												</a>

												<a href="#" class="list-group-item">
													<i class="icon-arrow-right22"></i> Show all articles (15)
												</a>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				<!-- /directory -->


				<!-- Submit a ticket -->
				<div class="panel panel-body stack-media-on-mobile">
					<div class="media-left">
						<a href="#" class="btn btn-link btn-icon text-teal">
							<i class="icon-question7 icon-2x no-edge-top"></i>
						</a>
					</div>

					<div class="media-body media-middle">
						<h6 class="media-heading text-semibold">Can't find what you're looking for?</h6>
						If you need it, someone else will too, so start a page on your topic.
					</div>

					<div class="media-right media-middle">
						<a href="#" class="btn bg-warning-400 btn-lg"><i class="icon-mail5 position-left"></i> Add Knowledge</a>
					</div>
				</div>
				<!-- /submit a ticket -->
