<!-- Calendar-->
<p>{{index .Map "info"}}</p>
<div id="calendar_{{index .Map "name"}}_{{index .Map "uuid"}}_id"></div>
<!-- /Calendar -->

<script>
    // Event colors
    var calendar_data_{{index .Map "name"}}_{{index .Map "uuid"}} = {{index .Map "json_data"}};

    // Event colors
    $('#calendar_{{index .Map "name"}}_{{index .Map "uuid"}}_id').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        defaultDate: '{{index .Map "date"}}',
        //editable: true,
        events: calendar_data_{{index .Map "name"}}_{{index .Map "uuid"}}

        {{if index .Map "click_function"}}
        ,dayClick: function(date, event, view) {
            {{index .Map "click_function"}}
        }
        {{end}}
    });
</script>