<div id="plotly_heatmap_{{index .Map "name"}}_{{index .Map "uuid"}}_id"></div>

<script>
    var plotly_heatmap_{{index .Map "name"}}_{{index .Map "uuid"}}_data = {{index .Map "json_data"}};

    //alert(plotly_heatmap_{{index .Map "name"}}_{{index .Map "uuid"}}_data.toSource());

    //alert(plotly_heatmap_{{index .Map "name"}}_{{index .Map "uuid"}}_data["z"].length);

    // Ensure that all the Z items (values) are numbers
    for (var item = 0; item < plotly_heatmap_{{index .Map "name"}}_{{index .Map "uuid"}}_data.length; item ++) {
        for (var row = 0; row < plotly_heatmap_{{index .Map "name"}}_{{index .Map "uuid"}}_data[item]["z"].length ; row++ ) {
            for (var col = 0; col < plotly_heatmap_{{index .Map "name"}}_{{index .Map "uuid"}}_data[item]["z"][row].length ; col++ ) {

                value = plotly_heatmap_{{index .Map "name"}}_{{index .Map "uuid"}}_data[item]["z"][row][col];

                // alert("Row: " + row + " Col: " + col + " Value: " + value);

                value = parseFloat(value);

                plotly_heatmap_{{index .Map "name"}}_{{index .Map "uuid"}}_data[item]["z"][row][col] = value;
            }
        }
    }

    //alert(plotly_heatmap_{{index .Map "name"}}_{{index .Map "uuid"}}_data.toSource());

    var layout = null;
    {{if index .Map "json_layout"}}layout = {{index .Map "json_layout"}};{{end}}
    //alert(layout.toSource())

    var options = null;
    {{if index .Map "json_options"}}options = {{index .Map "json_options"}};{{end}}

    var element = document.getElementById('plotly_heatmap_{{index .Map "name"}}_{{index .Map "uuid"}}_id');

    var data = plotly_heatmap_{{index .Map "name"}}_{{index .Map "uuid"}}_data;

/*
    data = [
        {
            type:"heatmap",
            x:["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11"],
            y:["Value"],
            z:[[90, 20, 77, 45, 86, 100, 99, 11, 0, 0, 22]]}
    ];
*/

    //alert(data.toSource());


    /*
    data = [
        {
            type:"heatmap",
            y:["Value"],
            z:[[90, 20]],
            x:["A", "B"]
        }
    ];*/

    //layout = {showlegend: false};

    Plotly.newPlot(element, data, layout, options);

    // Weekly heatmap
    /*
    var data = [
        {
            z: [[1, 20, 30, 50, 1, 0, 90], [20, 1, 60, 80, 30, 5, 2], [30, 60, 1, 10, 20, 30, 35]],
            x: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
            y: ['Morning', 'Afternoon', 'Evening'],
            type: 'heatmap'
        }
    ];*/


    //Plotly.newPlot(element, data, layout, options);

    /*
    Plotly.plot(element, [{
        x: [1, 2, 3, 4, 5],
        y: [1, 2, 4, 8, 16] }], {
        margin: { t: 0 } } );
        */


</script>
