<div class="form-group {{if index .Map "_error"}} has-error{{end}} {{if index .Map "_success"}} has-success{{end}} has-feedback">
    <label class="control-label text-semibold">{{index .Map "label"}}</label>

    <div class="input-group">
        <input id="{{index .Map "name"}}_{{index .Map "uuid"}}_id" name="{{index .Map "_field_label"}}" type="text" class="form-control daterange-time" value="{{index .Map "value"}}" onchange="{{if index .Map "onchange"}}{{index .Map "onchange"}}; {{end}}GridSelectionSelect_{{index .Map "uuid"}}('{{index .Map "requires"}}', '{{index .Map "name"}}', $('#{{index .Map "name"}}_{{index .Map "uuid"}}_id').val())">
        <span class="input-group-addon"><i class="{{index .Map "icon"}}"></i></span>
    </div>

{{if index .Map "info"}}<span class="help-block">{{index .Map "info"}}</span>{{end}}
{{if index .Map "_error"}}<span class="help-block">{{index .Map "_error"}}</span>{{end}}
</div>

<script>
    $('#{{index .Map "name"}}_{{index .Map "uuid"}}_id').daterangepicker({
        timePicker: true,
        applyClass: 'bg-slate-600',
        cancelClass: 'btn-default',
        locale: {
            format: 'YYYY-MM-DD HH:mm:ss'
        }
    });
</script>
