<!-- Invoice template -->
<div class="panel panel-white">
    <div class="panel-heading">
        <h6 class="panel-title">{{index .Map "title"}}</h6>
        <div class="heading-elements">
            <button type="button" class="btn btn-default btn-xs heading-btn"><i class="icon-file-check position-left"></i> Save</button>
            <button type="button" class="btn btn-default btn-xs heading-btn"><i class="icon-printer position-left"></i> Print</button>
        </div>
    </div>

    <div class="panel-body no-padding-bottom">
        <div class="row">
            <div class="col-sm-6 content-group">
                <img src="{{index .Map "logo"}}" class="content-group mt-10" alt="" style="width: 120px;">
                <ul class="list-condensed list-unstyled">
                    <li>{{index .Map "biller_address"}}</li>
                    <li>{{index .Map "biller_city_state_zip"}}</li>
                    <li>{{index .Map "biller_phone"}}</li>
                </ul>
            </div>


            <div class="col-sm-6 content-group">
                <div class="invoice-details">
                    <h5 class="text-uppercase text-semibold">Invoice #{{index .Map "invoice_number"}}</h5>
                    <ul class="list-condensed list-unstyled">
                        <li>Date: <span class="text-semibold">{{index .Map "date_issue"}}</span></li>
                        <li>Due date: <span class="text-semibold">{{index .Map "date_due"}}</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-9 content-group">
                <span class="text-muted">Invoice To:</span>
                <ul class="list-condensed list-unstyled">
                    <li><h5>{{index .Map "business_contact_name"}}</h5></li>
                    <li><span class="text-semibold">{{index .Map "business_name"}}</span></li>
                    <li>{{index .Map "business_address"}}</li>
                    <li>{{index .Map "business_city_state_zip"}}</li>
                    <li>{{index .Map "business_country"}}</li>
                    <li>{{index .Map "business_phone"}}</li>
                    <li><a href="#">{{index .Map "business_contact_email"}}</a></li>
                </ul>
            </div>

            <div class="col-md-6 col-lg-3 content-group">
                <span class="text-muted">Payment Details:</span>
                <ul class="list-condensed list-unstyled invoice-payment-details">
                    <li><h5>Total Due: <span class="text-right text-semibold">{{index .Map "total_due"}}</span></h5></li>
                    <li>Bank name: <span class="text-semibold">{{index .Map "bank_name"}}</span></li>
                    <li>Country: <span>{{index .Map "bank_country"}}</span></li>
                    <li>City: <span>{{index .Map "bank_city_state_zip"}}</span></li>
                    <li>Address: <span>{{index .Map "bank_address"}}</span></li>
                    <li>IBAN: <span class="text-semibold">{{index .Map "bank_iban"}}</span></li>
                    <li>SWIFT code: <span class="text-semibold">{{index .Map "bank_swift"}}</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-lg">
            <thead>
            <tr>
                <th>Description</th>
                <th class="col-sm-1">Cost Per Unit</th>
                <th class="col-sm-1">Units</th>
                <th class="col-sm-1">Total</th>
            </tr>
            </thead>
            <tbody>
            {{range $index, $element := index .Map "line_item"}}
            <tr>
                <td>
                    <h6 class="no-margin">{{$element.name}}</h6>
                    <span class="text-muted">{{$element.info}}</span>
                </td>
                <td>{{$element.cost_per_unit}}</td>
                <td>{{$element.unit_count}}</td>
                <td><span class="text-semibold">{{$element.cost}}</span></td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>

    <div class="panel-body">
        <div class="row invoice-payment">
            <div class="col-sm-7">
                <div class="content-group">
                    <h6>Authorized person</h6>
                    <div class="mb-15 mt-15">
                        <img src="assets/images/signature.png" class="display-block" style="width: 150px;" alt="">
                    </div>

                    <ul class="list-condensed list-unstyled text-muted">
                        <li>{{index .Map "biller_contact_name"}}</li>
                        <li>{{index .Map "biller_address"}}</li>
                        <li>{{index .Map "biller_city_state_zip"}}</li>
                        <li>{{index .Map "biller_phone"}}</li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="content-group">
                    <h6>Total due</h6>
                    <div class="table-responsive no-border">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Subtotal:</th>
                                <td class="text-right">{{index .Map "subtotal_cost"}}</td>
                            </tr>
                            <tr>
                                <th>Tax: <span class="text-regular">({{index .Map "tax_percent"}}%)</span></th>
                                <td class="text-right">{{index .Map "tax_cost"}}</td>
                            </tr>
                            <tr>
                                <th>Total:</th>
                                <td class="text-right text-primary"><h5 class="text-semibold">{{index .Map "total_due"}}</h5></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="text-right">
                        <button type="button" class="btn btn-primary btn-labeled"><b><i class="icon-paperplane"></i></b> Pay Invoice</button>
                    </div>
                </div>
            </div>
        </div>

        <h6>Notices</h6>
        <p class="text-muted">{{index .Map "notice"}}</p>
    </div>
</div>
<!-- /invoice template -->