<div id="{{index .Map "uuid"}}_{{index .Map "name"}}">
    <table class="table table-lg" id="table_{{index .Map "name"}}_{{index .Map "uuid"}}_id">
        <thead>
        <tr>
            <th>Group Label</th>
            <th>#</th>
            <th>Name</th>
            <th>Environment</th>
            <th>Last 2 Minutes</th>
            <th>Last Failure</th>
            <th>Owner</th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        {{range $index, $element := index .Map "item"}}
        <tr>
            <td>{{$element.group_label}}</td>
            <td>{{$element._id}}</td>
            <td>
                <h6 class="no-margin">
                    <a href="#" onclick="GridRenderWidget_{{$element.uuid}}('dialog_edit_monitor', 'dialog_target', 'service_monitor_id', '{{$element._id}}'); return false">{{$element.name}}</a>
                    <small class="display-block text-muted">{{$element.info}}</small>
                </h6>
            </td>
            <td>
                {{$element.environment_name}}
            </td>
            <td>{{$element.timeseries_recent}}</td>
            <td>
            {{$element.last_failure}} <small class="display-block text-muted text-size-small">{{$element.last_outage}}</small>
            </td>
            <td>
                <h6 class="no-margin text-bold">{{$element.owner}} <small class="display-block text-muted text-size-small">{{$element.owner_info}}</small></h6>
            </td>
            <td class="text-center">
                <ul class="icons-list">
                    <li><a href="#" onclick="GridRenderWidget_{{$element.uuid}}('dialog_edit_monitor', 'dialog_target', 'service_monitor_id', '{{$element._id}}'); return false"><i class="icon-file-eye"></i></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-file-text2"></i> <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#" onclick="GridRenderWidget_{{$element.uuid}}('dialog_edit_monitor', 'dialog_target', 'service_monitor_id', '{{$element._id}}'); return false"><i class="icon-file-eye"></i> Edit</a></li>
                            <li class="divider"></li>
                            <li><a href="#" onclick="RPC('api/delete_using_tombstone_multi', {data: JSON.stringify({delete_record: '{{$element._record_label}}'})})"><i class="icon-file-minus"></i> Delete</a></li>
                        </ul>
                    </li>
                </ul>
            </td>
        </tr>
        {{end}}
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" onclick="GridRenderWidget_{{index .Map "uuid"}}('dialog_edit_monitor', 'dialog_target', 'service_monitor_id', '-1'); return false"><i class="icon-{{index .Map "create_icon"}} position-left"></i> {{index .Map "create_label"}}</button>

</div>

<script>

    // Table setup
    // ------------------------------

    // Initialize
    $('#table_{{index .Map "name"}}_{{index .Map "uuid"}}_id').DataTable({
        autoWidth: false,
        columnDefs: [
            {
                visible: false,
                width: '30px',
                targets: 0
            },
            {
                visible: true,
                targets: 1
            },
            {
                orderable: false,
                width: '100px',
                targets: 7
            },
            {
                width: '15%',
                targets: [4, 5]
            },
            {
                width: '15%',
                targets: 6
            },
            {
                width: '15%',
                targets: 3
            }
        ],
        order: [[ 0, 'desc' ]],
        dom: '<"datatable-header"fl><"datatable-scroll-lg"t><"datatable-footer"ip>',
        language: {
            search: '<span>Filter:</span> _INPUT_',
            searchPlaceholder: 'Type to filter...',
            lengthMenu: '<span>Show:</span> _MENU_',
            paginate: { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
        },
        lengthMenu: [ 25, 50, 75, 100 ],
        displayLength: 25,
        drawCallback: function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;

            api.column(0, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                            '<tr class="active border-double"><td colspan="8" class="text-semibold">'+group+'</td></tr>'
                    );

                    last = group;
                }
            });

            $('.select').select2({
                width: '150px',
                minimumResultsForSearch: Infinity
            });

            $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
        },
        preDrawCallback: function(settings) {
            $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            $('.select').select2().select2('destroy');
        }
    });



    // External table additions
    // ------------------------------

    // Enable Select2 select for the length option
    $('.dataTables_length select').select2({
        minimumResultsForSearch: Infinity,
        width: 'auto'
    });
</script>