	<script type="text/javascript" src="assets/js/plugins/ui/moment/moment.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/ui/fullcalendar/fullcalendar.min.js"></script>

	<script type="text/javascript" src="assets/js/core/app.js"></script>
	<!--<script type="text/javascript" src="assets/js/pages/extra_fullcalendar.js"></script>-->
	<script type="text/javascript" src="assets/js/pages/extra_fullcalendar__oncall.js"></script>



				<!-- Background events -->
				<div class="panel panel-flat">
					<div class="panel-heading">
						<h5 class="panel-title">Production SRE On-Call Schedule</h5>
						<div class="heading-elements">
							<ul class="icons-list">
		                		<li><a data-action="collapse"></a></li>
		                		<li><a data-action="reload"></a></li>
		                		<li><a data-action="close"></a></li>
		                	</ul>
	                	</div>
					</div>
					
					<div class="panel-body">
						<p class="content-group">On-Call schedule for the Production SRE team.</p>

						<div class="fullcalendar-background-colors"></div>
					</div>

					

				</div>
				<!-- /background events -->



						<!-- Simple list -->
						<div class="panel panel-flat">
							<div class="panel-heading">
								<h5 class="panel-title">Contact List</h5>
								<div class="heading-elements">
									<ul class="icons-list">
				                		<li><a data-action="collapse"></a></li>
				                		<li><a data-action="reload"></a></li>
				                		<li><a data-action="close"></a></li>
				                	</ul>
			                	</div>
							</div>

							<div class="panel-body">
								<ul class="media-list">
									<li class="media-header">On-Call</li>

									<li class="media">
										<div class="media-left media-middle">
											<a href="#">
												<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
											</a>
										</div>

										<div class="media-body">
											<div class="media-heading text-semibold">Geoff Howland</div>
											<span class="text-muted">Primary</span>
										</div>

										<div class="media-right media-middle">
											<ul class="icons-list icons-list-extended text-nowrap">
						                    	<li><a href="#" data-popup="tooltip" title="Call" data-toggle="modal" data-target="#call"><i class="icon-phone2"></i></a></li>
						                    	<li><a href="#" data-popup="tooltip" title="Chat" data-toggle="modal" data-target="#chat"><i class="icon-comment"></i></a></li>
						                    	<li><a href="#" data-popup="tooltip" title="Video" data-toggle="modal" data-target="#video"><i class="icon-video-camera"></i></a></li>
					                    	</ul>
										</div>
									</li>

									<li class="media">
										<div class="media-left media-middle">
											<a href="#">
												<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
											</a>
										</div>

										<div class="media-body">
											<div class="media-heading text-semibold">Weilu Jia</div>
											<span class="text-muted">Secondary</span>
										</div>

										<div class="media-right media-middle">
											<ul class="icons-list icons-list-extended text-nowrap">
						                    	<li><a href="#" data-popup="tooltip" title="Call" data-toggle="modal" data-target="#call"><i class="icon-phone2"></i></a></li>
						                    	<li><a href="#" data-popup="tooltip" title="Chat" data-toggle="modal" data-target="#chat"><i class="icon-comment"></i></a></li>
						                    	<li><a href="#" data-popup="tooltip" title="Video" data-toggle="modal" data-target="#video"><i class="icon-video-camera"></i></a></li>
					                    	</ul>
										</div>
									</li>

									<li class="media">
										<div class="media-left media-middle">
											<a href="#">
												<img src="assets/images/placeholder.jpg" class="img-circle" alt="">
											</a>
										</div>

										<div class="media-body">
											<div class="media-heading text-semibold">Thomas Jackson</div>
											<span class="text-muted">Escalation</span>
										</div>

										<div class="media-right media-middle">
											<ul class="icons-list icons-list-extended text-nowrap">
						                    	<li><a href="#" data-popup="tooltip" title="Call" data-toggle="modal" data-target="#call"><i class="icon-phone2"></i></a></li>
						                    	<li><a href="#" data-popup="tooltip" title="Chat" data-toggle="modal" data-target="#chat"><i class="icon-comment"></i></a></li>
						                    	<li><a href="#" data-popup="tooltip" title="Video" data-toggle="modal" data-target="#video"><i class="icon-video-camera"></i></a></li>
					                    	</ul>
										</div>
									</li>


								</ul>
							</div>
						</div>
						<!-- /simple list -->
